.list-right-container {
  width: 25%;
  height: 100%;
}

.my-profile {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.profile-title {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid gray;
    border-bottom: none;
}

.profile-title > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    margin-right: 10px;
}

.profile-nav-btn {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 45, 86, 1);
    display: flex;
    flex-direction: row;
    color: white;
}

.profile-nav-btn > div {
    width: 50%;
    height: 100%;
    font-size: 18px;
    text-align: center;
    align-content: center;
    cursor: pointer;
}

.neighbor-list-container {
    width: 100%;
    height: 350px;
    border: 1px solid rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
}

.neighbor-nav-btn {
    width: 100%;
    height: 45px;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: row;
}

.neighbor-nav-btn > div {
    width: 33.333333%;
    height: 100%;
    align-content: center;
    text-align: center;
    background-color: rgba(0,0,0,0.1);
}

.neighbor-list {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
}

.neighbor-profile {
    width: 50%;
    height: 40px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.neighbor-profile-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    margin-right: 3px;
}

.neighbor-search {
    width: 100%;
    height: 35px;
    border-bottom: 1px solid gray;
    padding: 5px;
    margin-bottom: 10px;
}