.list {
  width: 100%;
  padding: 10px;
  position: relative;
}

.list::after {
    content: '';
    display: block;
    position: absolute;
    width: 98%;
    margin: auto;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    left: 0;
    right: 0;
}

.list-user {
    margin-top: 0;
    color: gray;
    display: flex;
    align-items: center;
}

.list > h3 {
    margin-top: 10px;
}

.list-user-img {
    width: 25px;
    aspect-ratio: 1;
    margin: 0;
    display: block;
    margin-right: 5px;
    border-radius: 50%;
}

.list-user > span {
    display: block;
    font-size: 17px;
}