.navbar {
  background-color: rgba(0, 45, 86, 1);
  height: 50px;
  padding: 10px;
  align-content: center;
}

.navbar-title {
  color: white;
  font-size: 20px;
}

.list-main-container {
  width: 80%;
  min-width: 1000px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.list-title {
  width: 100%;
  padding: 10px;
}

.list-inner-container {
  width: 100%;
  height: 100%;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.list-left-container {
  width: 65%;
}
